<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" 
			default-autowire="autodetect">
	 <aop:config>  
        <aop:aspect id="aspect" ref="aspectBean">  
            <!--配置com.lzq.spring.service包下所有类或接口的所有方法-->  
            <aop:pointcut id="logService"  
                expression="execution(* service.*.*(..))" />
            <aop:before pointcut-ref="logService" method="doBefore"/>  
            <aop:after pointcut-ref="logService" method="doAfter"/>  
            <aop:around pointcut-ref="logService" method="doAround"/>  
        </aop:aspect>  
    </aop:config>  
    <bean id="aspectBean" class="aop.Aspect" />
    <bean id="aService" class="service.AServiceImpl" />
</beans>
